# Extract Harding Loevner tables
- Extract sector and country weights from Harding Loevner Global Equity quarterly reports

In [2]:
import pandas as pd
import tabula
from IPython.display import display_html, HTML

from os import listdir
column_name = ['HL Glbl', 'MSCI ACWI']
in_directory_1 = '/Users/ebellord/Desktop/global_quarterly_reports/'
areas_1= [[14.74, 237.98, 191.59, 196.4], [17, 503, 184, 177]]

in_directory_2 = '/Users/ebellord/Desktop/global_quarterly_reports2/'
areas_2 = [[46, 250, 182, 175], [48, 491, 183, 154]]
# areas_2 = [[46, 250, 182, 172], [48, 491, 183, 154]]

in_directory_3 = '/Users/ebellord/Desktop/global_quarterly_reports3/'
areas_3 = [[45, 260, 185, 189], [47, 487, 183, 165]]

in_directory_4 = '/Users/ebellord/Desktop/global_quarterly_reports4/'
areas_4 = [[45, 250, 185, 182], [47, 487, 183, 155]]
# areas_3 = [[45, 260, 185, 189], [47, 487, 183, 165]]
def process_pdf(in_directory, areas):
    sector_area = areas[0]
    country_area = areas[1]
    all_sectors = []
    all_regions = [] 
    for item in listdir(in_directory):  # loop through items in dir
        if item.endswith('.pdf'):
            path = in_directory + item
            def read_table(left, top, width, height):
                right = left + width
                bottom = top + height
                df = tabula.read_pdf(path, pages = '1',
                                 multiple_tables = False,
                                 guess = False,
                                 stream = True,
                                 area = [top, left, bottom, right])
                print(df.columns)
                # Remove numbers from column names before setting index
                df[df.columns[0]] = df[df.columns[0]].str.replace('\d+', '')
                df[df.columns[0]] = df[df.columns[0]].str.lower()
                df = df.set_index(df.columns[0])
                df = df.replace('–', 0)
                df = df.replace('-', 0)
                df = df.replace('—', 0)
                return df

            left, top, width, height = sector_area
            sector = read_table(left, top, width, height)
            sector.name = item.strip('-Report.pdf')
            sector.name = sector.name.strip('GE-')
            sector.columns = column_name
            print(sector.name)
            all_sectors.append(sector)
            left, top, width, height = country_area
            region = read_table(left, top, width, height)
            region.name = item.strip('-Report.pdf')
            region.name = region.name.strip('GE-')
            region.columns = column_name
            all_regions.append(region)
    return all_regions, all_sectors

group1, group2, group3, group4 = [process_pdf(directory, areas) for directory, areas in zip([in_directory_1,
                                                                              in_directory_2,
                                                                              in_directory_3,
                                                                              in_directory_4],
                                                                              [areas_1,
                                                                              areas_2,
                                                                              areas_3, 
                                                                              areas_4])]
# group2 = [process_pdf(directory, areas) for directory, areas in zip([in_directory_2],
#                                                                               [areas_2])]
#     # display_html(sector.style.set_table_attributes("style='display:inline'")._repr_html_() + 
    #              region.style.set_table_attributes("style='display:inline'")._repr_html_(), raw=True)

Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
1Q15
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
2Q15
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
4Q14
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
3Q14
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
2Q14
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
1Q14
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Sector', 'HL Glbl', 'MSCI ACWI'], dtype='object')
3Q15
Index(['Region', 'HL Glbl', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MSCi ACwi'], dtype='object')
2Q16
Index(['Unnamed: 0', 'Hl glObAl', 'MSCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
1Q16
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MSCi ACwi'], dtype='object')
4Q15
Index(['Unnamed: 0', 'Hl glObAl', 'MSCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
1Q18
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
2Q18
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
3Q18
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
4Q18
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
4Q16
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
3Q16
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
1Q17
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
2Q17
Index(['Unnamed: 0', 'HL GLOBAL', 'MSCI ACWI'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
3Q17
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')
4Q17
Index(['Unnamed: 0', 'Hl glObAl', 'MsCi ACwi'], dtype='object')

In [8]:
group2_regions = []
for item in group2[0]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.–')
    idx = idx.str.strip('\r')
    idx = idx.str.replace('us', 'united states')
    idx.name = 'Region'
    item = item.set_index(idx)
    item.name = name
    group2_regions.append(item)
temp_list = []    
for item in group2_regions:
    if item.name == '4Q15':
        item.loc['cash', :] = [2.1, 0]
        item.loc['united states', :] = [53.8, 53.1]
    if item.name == '1Q16':
        item.loc['cash', :] = [1.8, 0]
        item.loc['united states', :] = [54.5, 53.2]
    if item.name == '2Q16':
        item.loc['cash', :] = [2.6, 0]
        item.loc['europe ex-emu', :] = [11.9, 11.2]   
    temp_list.append(item)
group2_regions = temp_list


group4_regions = []
for item in group4[0]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.–')
    idx = idx.str.strip('\r')
    idx = idx.str.replace('us', 'united states')
    idx.name = 'Region'
    item = item.set_index(idx)
    item.name = name
    group4_regions.append(item)
temp_list = []    
for item in group4_regions:
    if item.name == '3Q16':
        item.loc['cash', :] = [3.4, 0]
        item.loc['frontier markets', :] = [0, 0]
    if item.name == '4Q16':
        item.loc['emerging markets', :] = [12.3, 10.5]
        item.loc['cash', :] = [1.1, 0]
    if item.name == '1Q17':
        item.loc['europe emu', :] = [13, 10.3]
        item.loc['europe ex-emu', :] = [11.7, 10.4]
    if item.name == '2Q17':
        item.loc['japan', :] = [9.3, 7.7]  
        item.loc['emerging markets', :] = [13.5, 11.3]
    if item.name == '3Q17':
        item.loc['europe emu', :] = [13.8, 11]
        item.loc['europe ex-emu', :] = [12.3, 10.5]  
    if item.name == '4Q17':
        item.loc['europe emu', :] = [13.7, 10.7]
        item.loc['japan', :] = [10.3, 7.9]
group2_regions = temp_list

In [9]:
group2_sectors = []
for item in group2[1]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.-')
    idx = idx.str.strip('.–')
    idx.name = 'Sector'
    item = item.set_index(idx)
    item.name = name
    group2_sectors.append(item)
temp_list = []    
for item in group2_sectors:
    if item.name == '4Q15':
        item.loc['health care', :] = [18.0, 12.5]
        item.loc['industrials', :] = [11.6, 10.3]
    if item.name == '1Q16':
        item.loc['health care', :] = [18.1, 11.7]
        item.loc['industrials', :] = [11.7, 10.5]
    if item.name == '2Q16':
        item.loc['health care', :] = [17.3, 12.2]
        item.loc['cash', :] = [2.6, 0]  
    temp_list.append(item)
group2_sectors = temp_list


group4_sectors = []
for item in group4[1]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.-')
    idx = idx.str.strip('.–')
    idx.name = 'Sector'
    item = item.set_index(idx)
    item.name = name
    group4_sectors.append(item)
temp_list = []    
for item in group4_sectors:
    if item.name == '3Q16':
        item.loc['info technology', :] = [22.6, 15.9]
        item.loc['industrials', :] = [12.8, 10.4]
    if item.name == '4Q16':
        item.loc['industrials', :] = [14.3, 10.6]
        item.loc['cash', :] = [1.1, 0]
    if item.name == '1Q17':
        item.loc['health care', :] = [15.2, 11.1]
        item.loc['materials', :] = [7.3, 5.3]
    if item.name == '2Q17':
        item.loc['health care', :] = [15.4, 11.4]
        item.loc['cash', :] = [2.7, 0]
    if item.name == '3Q17':
        item.loc['cash', :] = [4.5, 0]
        item.loc['industrials', :] = [14.1, 10.8]
    if item.name == '4Q17':
        item.loc['industrials', :] = [14.7, 10.9]
        item.loc['materials', :] = [9.0, 5.5]
    temp_list.append(item)
group4_sectors = temp_list

In [10]:
group3_sectors = []
for item in group3[1]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.-')
    idx = idx.str.strip('.–')
    idx.name = 'Sector'
    item = item.set_index(idx)
    item.name = name
    group3_sectors.append(item)

group3_regions = []
for item in group3[0]:
    name = item.name
    idx = item.index.str.strip('..')
    idx = idx.str.strip('.-')
    idx = idx.str.strip('.–')
    idx.name = 'Region'
    item = item.set_index(idx)
    item.name = name
    group3_regions.append(item)

In [11]:
group1_regions = group1[0]
group1_sectors = group1[1]

regions = group1_regions + group2_regions + group3_regions + group4_regions
sectors = group1_sectors + group2_sectors + group3_sectors + group4_sectors

In [12]:
temp_list = []
for item in regions:
    item['Active']=item['HL Glbl'].astype(float) - item['MSCI ACWI'].astype(float)
    temp_list.append(item)
regions = temp_list   
active_regions = [item['Active'] for item in regions]  
names = [item.name for item in regions]    
active_regions = [item.rename(name) for item, name in zip(active_regions, names)]   
active_region = pd.concat(active_regions, axis=1, sort=False).transpose()
active_region = active_region.set_index(pd.to_datetime(active_region.index)+ pd.offsets.QuarterEnd(0))
active_region = active_region.sort_index()

temp_list = []
for item in sectors:
    item['Active']=item['HL Glbl'].astype(float) - item['MSCI ACWI'].astype(float)
    temp_list.append(item)
sectors = temp_list   
active_sectors = [item['Active'] for item in sectors]  
names = [item.name for item in sectors]    
active_sectors = [item.rename(name) for item, name in zip(active_sectors, names)]   
active_sectors = pd.concat(active_sectors, axis=1, sort=False).transpose()
active_sectors = active_sectors.set_index(pd.to_datetime(active_sectors.index)+ pd.offsets.QuarterEnd(0))
active_sectors = active_sectors.sort_index()

,info technology,health care,cash,cons staples,materials,industrials,cons discretionary,telecom services,financials,energy,utilities,real estate,comm services
2014-03-31,8.8,4.5,1.1,0.9,0.3,-3.1,-0.2,-2.7,-2.1,-4.2,-3.3,NaN,NaN
2014-06-30,8.0,6.3,1.6,-0.1,0.4,-3.1,0.3,-2.6,-3.1,-4.3,-3.4,NaN,NaN
2014-09-30,8.7,3.8,3.2,0.0,0.9,-3.0,-0.3,-2.4,-3.5,-4.1,-3.3,NaN,NaN
2014-12-31,8.2,3.0,3.5,0.0,-0.2,-2.1,-0.5,-2.4,-2.8,-3.3,-3.4,NaN,NaN
2015-03-31,9.1,4.2,2.1,-0.2,-0.3,-0.6,-2.3,-2.4,-3.2,-3.2,-3.2,NaN,NaN
2015-06-30,8.6,3.3,3.3,-2.5,-1.3,0.8,-0.6,-1.7,-4.2,-2.6,-3.1,NaN,NaN
2015-09-30,9.8,4.6,1.0,-3.9,-1.6,0.8,0.3,-1.7,-5.7,-0.3,-3.3,NaN,NaN
2015-12-31,9.5,5.5,2.1,-5.4,-1.7,1.3,-0.2,-2.3,-5.3,-0.3,-3.2,NaN,NaN
2016-03-31,8.8,6.4,1.8,-4.5,-2.1,1.2,-1.0,-1.9,-5.0,-0.2,-3.5,NaN,NaN
2016-06-30,8.2,5.1,2.6,-4.7,-2.2,3.2,-0.8,-2.2,-5.2,-0.4,-3.6,NaN,NaN
2016-09-30,6.7,6.8,3.4,-4.3,-2.4,2.4,-0.5,-3.2,-1.5,-0.8,-3.3,-3.3,NaN
2016-12-31,6.9,3.5,1.1,-3.3,0.4,3.7,-0.5,-3.6,-0.4,-1.5,-3.2,-3.1,NaN
2017-03-31,5.5,4.1,1.0,-2.3,2.0,3.7,-0.2,-3.4,-2.4,-1.6,-3.2,-3.2,NaN
2017-06-30,6.3,4.0,2.7,-3.0,2.1,2.8,-0.3,-3.2,-3.2,-2.0,-3.1,-3.1,NaN
2017-09-30,3.3,5.4,4.5,-2.9,3.4,3.3,-0.3,-3.2,-4.8,-2.5,-3.1,-3.1,NaN
2017-12-31,2.0,7.2,3.8,-3.2,3.5,3.8,-0.5,-3.0,-4.9,-2.7,-2.9,-3.1,NaN
2018-03-31,0.1,9.1,2.4,-3.3,2.9,4.3,0.1,-2.9,-4.1,-2.7,-2.9,-3.0,NaN
2018-06-30,2.3,6.8,1.0,-3.2,2.6,4.2,1.8,-2.8,-3.7,-3.1,-2.9,-3.0,NaN
2018-09-30,2.0,5.9,2.1,-2.8,3.0,4.8,1.4,-2.8,-4.5,-3.3,-2.9,-2.9,NaN
2018-12-31,3.0,1.9,2.7,-2.5,3.3,5.0,1.8,NaN,-2.7,-3.6,-3.4,-3.2,-2.3

In [ ]:
for item in sectors:
    print(item.count())

In [3]:
import pandas as pd
import tabula
from IPython.display import display_html, HTML

from os import listdir

in_directory_1 = '/Users/ebellord/Desktop/'
path= in_directory_1 + 'akba_val.pdf'

df = tabula.read_pdf(path)
df
# areas_1= [[14.74, 237.98, 191.59, 196.4], [17, 503, 184, 177]]

# in_directory_2 = '/Users/ebellord/Desktop/global_quarterly_reports2/'
# areas_2 = [[46, 250, 182, 175], [48, 491, 183, 154]]
# # areas_2 = [[46, 250, 182, 172], [48, 491, 183, 154]]

# in_directory_3 = '/Users/ebellord/Desktop/global_quarterly_reports3/'
# areas_3 = [[45, 260, 185, 189], [47, 487, 183, 165]]

# in_directory_4 = '/Users/ebellord/Desktop/global_quarterly_reports4/'
# areas_4 = [[45, 250, 185, 182], [47, 487, 183, 155]]
# # areas_3 = [[45, 260, 185, 189], [47, 487, 183, 165]]
# def process_pdf(in_directory, areas):
#     sector_area = areas[0]
#     country_area = areas[1]
#     all_sectors = []
#     all_regions = [] 
#     for item in listdir(in_directory):  # loop through items in dir
#         if item.endswith('.pdf'):
#             path = in_directory + item
#             def read_table(left, top, width, height):
#                 right = left + width
#                 bottom = top + height
#                 df = tabula.read_pdf(path, pages = '1',
#                                  multiple_tables = False,
#                                  guess = False,
#                                  stream = True,
#                                  area = [top, left, bottom, right])
#                 print(df.columns)
#                 # Remove numbers from column names before setting index
#                 df[df.columns[0]] = df[df.columns[0]].str.replace('\d+', '')
#                 df[df.columns[0]] = df[df.columns[0]].str.lower()
#                 df = df.set_index(df.columns[0])
#                 df = df.replace('–', 0)
#                 df = df.replace('-', 0)
#                 df = df.replace('—', 0)
#                 return df

#             left, top, width, height = sector_area
#             sector = read_table(left, top, width, height)
#             sector.name = item.strip('-Report.pdf')
#             sector.name = sector.name.strip('GE-')
#             sector.columns = column_name
#             print(sector.name)
#             all_sectors.append(sector)
#             left, top, width, height = country_area
#             region = read_table(left, top, width, height)
#             region.name = item.strip('-Report.pdf')
#             region.name = region.name.strip('GE-')
#             region.columns = column_name
#             all_regions.append(region)
#     return all_regions, all_sectors

# group1, group2, group3, group4 = [process_pdf(directory, areas) for directory, areas in zip([in_directory_1,
#                                                                               in_directory_2,
#                                                                               in_directory_3,
#                                                                               in_directory_4],
#                                                                               [areas_1,
#                                                                               areas_2,
#                                                                               areas_3, 
#                                                                               areas_4])]
# # group2 = [process_pdf(directory, areas) for directory, areas in zip([in_directory_2],
# #                                                                               [areas_2])]
# #     # display_html(sector.style.set_table_attributes("style='display:inline'")._repr_html_() + 
#     #              region.style.set_table_attributes("style='display:inline'")._repr_html_(), raw=True)

Empty DataFrame
Columns: [Auryxia Revenue Model]
Index: []

,Unnamed: 0,$18.00
0,Oct-18,NaN
1,"on ESAs (N=2200). The ""conversion"" portion of ...",$16.00
2,Nov-18,NaN
3,2Q:18. The PRO2TECT study in nonDe-cd-18ialysi...,$14.00
4,$12.00primary efficacy endpoint in both studie...,NaN
5,NaN,$10.00
6,week 36 as well as non-inferiority on MACE up ...,$8.00
7,"up to 3,700 patients and INNO2VATE study will ...",$6.00
8,INNO2VATE top-line data is expected by 1Q:20 a...,NaN
9,expect vadadustat launch to begin sometime in ...,NaN
10,FY 12/31/2017 FY 12/31/2018 FY 12/31/2019,Market Data
11,Actual Old New Old New,Price (12/18/2018) $6.49
12,Rev. (MM) 178.0A 202.9E 236.3E 240.0E 403.0E,NaN
13,NaN,52-Week Range $15.86 - $6.41
14,EPS: 1Q (1.15)A (0.48)A (0.48)A (0.44)E (0.25)E,NaN
15,EPS: 2Q (0.53)A (0.60)A (0.60)A (0.48)E (0.24)E,Shares Outstanding 102.11
16,EPS: 3Q (0.49)A (0.46)A (0.46)A (0.49)E (0.22)E,Market Cap (MM) $662.7
17,EPS: 4Q 0.25A (0.47)E (0.30)E (0.56)E (0.22)E,"Avg. Daily Volume 770,090.0"
18,EPS: Year (1.77)A (2.01)E (1.70)E (1.96)E (0.93)E,Total Debt/Cap. 0.00%
19,shareholders now own ~49% of the combined enti...,NaN
20,cash and has substantial committed capital fro...,NaN
21,"Additionally, Akebia has gained Aryxia, which ...",NaN
22,year and has >$400M in peak market potential b...,Biotechnology
23,be accretive to Akebia's P&L by late next year...,NaN